<ul>
    <li>
        <a href="{{ "/grw/index.html" | relative_url }}">Grundregelwerk</a>
    </li>
    <ul>
        <li>
            <a href="{{ "/grw/charaktere-attribute-eigenschaften.html" | relative_url }}">Attribute &amp; Eigenschaften</a>
        </li>
        <li>
            <a href="{{ "/grw/charaktere-attribute-eigenschaften.html#die-kampfwerte" | relative_url }}">Die Kampfwerte</a>
        </li>
        <li>
            <a href="{{ "/grw/charaktere-attribute-eigenschaften.html#die-kampfwerte" | relative_url }}">Die Kampfwerte</a>
        </li>
        <li>
            <a href="{{ "/grw/charaktere-attribute-eigenschaften.html#die-kampfwerte" | relative_url }}">Die Kampfwerte</a>
        </li>
        <li>
            <a href="{{ "/grw/charaktere-attribute-eigenschaften.html#die-kampfwerte" | relative_url }}">Die Kampfwerte</a>
        </li>
        <li>
            <a href="{{ "/grw/charaktere-attribute-eigenschaften.html#die-kampfwerte" | relative_url }}">Die Kampfwerte</a>
        </li>
    </ul>
    
</ul>