<footer id="footer">
  <div>
    <a href="https://www.dungeonslayers.net" target="_blank">Dungeonslayers</a>
    &copy; Christian Kennig
  </div>
  <div>
    <a href="https://github.com/RoninEighty/Dungeonslayers" target="_blank"
      >DS4 SRD+</a
    >
    © 2025
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"
      >CC BY-NC-SA 4.0</a
    >
  </div>
  <div>
  [Impressum](impressum.md)
  </div>
  <div>       [Datenschutzerklärung]datenschutzerklaerung.md]
   </div>
</footer>
