<script>
    // Theme selection, prevent FOUC (flash of unstyled content)
    (function() {
        const userTheme = localStorage.getItem("theme");
        if (userTheme) {
          document.documentElement.setAttribute("data-theme", userTheme);
        } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          document.documentElement.setAttribute("data-theme", "dark");
        } else {
          document.documentElement.setAttribute("data-theme", "light");
        }
    })();

    function initThemeToggle() {
        const toggleBtn = document.getElementById('theme-toggle');
        toggleBtn.addEventListener('click', () => {
        const currentTheme = document.documentElement.getAttribute('data-theme');
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
        document.documentElement.setAttribute('data-theme', newTheme);
        localStorage.setItem('theme', newTheme);
      });
    }
    
    function setActiveNavigation() {
      const path = window.location.pathname;
      const entries = document.getElementById('sidebar-nav-links').querySelectorAll('li');
      for (var i=0; i<entries.length; i++) {
        const li = entries.item(i);
        const a = li.querySelector('a');
        if (a && window.location.href == a.href) {
          li.classList.add('nav-active');
          li.classList.add('nav-opened');
          var parent = li.parentNode;
            while (parent && 'sidebar-nav-links' != parent.id) {
              if ('LI' == parent.nodeName) {
                parent.classList.add('nav-opened');
              }
              parent = parent.parentNode;
            }
        }
      }
    }

    document.addEventListener('DOMContentLoaded', function(){
        setActiveNavigation();
        initThemeToggle();
    });
</script>
