<div id="sidebar">
  <header>
    <h1 class="site-title">
      <a href="$base-url$/"> DS4 SRD+ </a>
    </h1>
    <button class="back-arrow" onclick="history.back(); return;">Zurück</button>
    <p class="lead"></p>
  </header>
  <nav id="sidebar-nav-links">
    <ul>
      <li>
        <a class="link" href="$base-url$/grw/index.html">Grundregelwerk</a>
        <ul>
          <li>
            <a class="link" href="$base-url$/grw/ds-lizenz.html">DS Lizenz</a>
          </li>
          <li>
            <a class="link" href="$base-url$/grw/rollenspiel.html"
              >Rollenspiel?</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          class="link"
          href="$base-url$/grw/charaktere-attribute-eigenschaften.html"
          >Charaktere</a
        >
        <ul>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-attribute-eigenschaften.html"
              >Attribute &amp; Eigenschaften</a
            >
          </li>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-attribute-eigenschaften.html#die-kampfwerte"
              >Die Kampfwerte</a
            >
          </li>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-charaktererschaffung.html"
              >Charaktererschaffung</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/charaktere-erfahrung.html"
              >Erfahrung</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/charaktere-heldenklassen.html"
          >Klassen & Heldenklassen</a
        >
        <ul>
          <li>
            <a class="link" href="$base-url$/grw/charaktere-klasse-krieger.html"
              >Krieger</a
            >

            <ul>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-berserker.html"
                  >Berserker</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-paladin.html"
                  >Paladin</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-waffenmeister.html"
                  >Waffenmeister</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="link" href="$base-url$/grw/charaktere-klasse-spaeher.html"
              >Späher</a
            >

            <ul>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-attentaeter.html"
                  >Attentäter</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-meisterdieb.html"
                  >Meisterdieb</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-waldlaeufer.html"
                  >Waldläufer</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="link" href="$base-url$/grw/charaktere-klasse-heiler.html"
              >Heiler</a
            >

            <ul>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-druide.html"
                  >Druide</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-kampfmoench.html"
                  >Kampfmönch</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-kleriker.html"
                  >Kleriker</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-klasse-zauberer.html"
              >Zauberer</a
            >

            <ul>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-elementarist.html"
                  >Elementarist</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-erzmagier.html"
                  >Erzmagier</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-kriegszauberer.html"
                  >Kriegszauberer</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-klasse-schwarzmagier.html"
              >Schwarzmagier</a
            >

            <ul>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-blutmagier.html"
                  >Blutmagier</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-daemonologe.html"
                  >Dämonologe</a
                >
              </li>
              <li>
                <a
                  class="link"
                  href="$base-url$/grw/charaktere-heldenklassen-nekromant.html"
                  >Nekromant</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/talente.html">Talente</a>
        <ul>
          <li>
            <a class="link" href="$base-url$/index-zauber.html">Übersicht Talente</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/regeln-proben.html">Regeln</a>
        <ul>
          <li>
            <a class="link" href="$base-url$/grw/regeln-proben.html">Proben</a>
          </li>
          <li>
            <a class="link" href="$base-url$/grw/regeln-kampf.html">Kampf</a>
          </li>
          <li>
            <a class="link" href="$base-url$/grw/regeln-schaden-heilung.html"
              >Schaden und Heilung</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/regeln-kampfdetails.html"
              >Kampfdetails</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/regeln-magie.html">Magie</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/zaubersprueche.html"
          >Zaubersprüche</a
        >
        <ul>
          <li>
            <a class="link" href="$base-url$/index-zauber.html">Übersicht Zaubersprüche</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/ausruestung.html">Ausrüstung</a>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/spielleitung-dungeons.html"
          >Spielleitung</a
        >
        <ul>
          <li>
            <a class="link" href="$base-url$/grw/spielleitung-dungeons.html"
              >Dungeons</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/spielleitung-slayergefahren.html"
              >Slayergefahren</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/spielleitung-reisen-transport.html"
              >Reisen &amp; Transport</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/spielleitung-sprachen-ep-vergabe.html"
              >Sprachen &amp; Schriftzeichen</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/spielleitung-sprachen-ep-vergabe.html#ep-vergabe"
              >EP-Vergabe</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/spielleitung-sprachen-ep-vergabe.html#waren-herstellen"
              >Waren herstellen</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/spielleitung-erweiterte-proben.html"
              >Erweiterte Proben</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/spielleitung-schaetze.html"
              >Schätze</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/anhang-beutetabellen.html"
          >Anhänge</a
        >
        <ul>
          <li>
            <a class="link" href="$base-url$/grw/anhang-beutetabellen.html"
              >Beutetabellen</a
            >
          </li>
          <li>
            <a
              class="link"
              href="$base-url$/grw/anhang-miniaturen-bodenplaene.html"
              >Miniaturen & Bodenpläne</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/anhang-voelkerbaukasten.html"
              >Völkerbaukasten</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/anhang-feuerwaffen.html"
              >Feuerwaffen</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/fanwerke/index.html">Fanwerke</a>
      </li>
      <li>
        <a class="link" href="$base-url$/alle-seiten.html">Seitenindex</a>
      </li>
    </ul>
  </nav>
</div>
