<div id="sidebar">
  <header>
    <h1 class="site-title">
      <a href="$base-url$/"> DS4 SRD+ </a>
    </h1>
    <p class="lead"></p>
  </header>
  <nav id="sidebar-nav-links">
    <ul>
      <li>
        <a class="link" href="$base-url$/grw/index.html">Grundregelwerk TODO Vorwort, Lizenz etc</a>
      </li>
      <li>
        <a
          class="link"
          href="$base-url$/grw/charaktere-attribute-eigenschaften.html"
          >Charaktere</a
        >
        <ul>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-attribute-eigenschaften.html"
              >Attribute &amp; Eigenschaften</a
            >
          </li>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-attribute-eigenschaften.html#die-kampfwerte"
              >Die Kampfwerte</a
            >
          </li>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-charaktererschaffung.html"
              >Charaktererschaffung</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/charaktere-erfahrung.html"
              >Erfahrung</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/charaktere-heldenklassen.html"
          >Klassen & Heldenklassen</a
        >
        <ul>
          <li>
            <a class="link" href="$base-url$/grw/charaktere-klasse-krieger.html"
              >Krieger</a
            >
          </li>
          <ul>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-berserker.html"
                >Berserker</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-paladin.html"
                >Paladin</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-waffenmeister.html"
                >Waffenmeister</a
              >
            </li>
          </ul>
          <li>
            <a class="link" href="$base-url$/grw/charaktere-klasse-spaeher.html"
              >Späher</a
            >
          </li>
          <ul>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-attentaeter.html"
                >Attentäter</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-meisterdieb.html"
                >Meisterdieb</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-waldlaeufer.html"
                >Waldläufer</a
              >
            </li>
          </ul>
          <li>
            <a class="link" href="$base-url$/grw/charaktere-klasse-heiler.html"
              >Heiler</a
            >
          </li>
          <ul>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-druide.html"
                >Druide</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-kampfmoench.html"
                >Kampfmönch</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-kleriker.html"
                >Kleriker</a
              >
            </li>
          </ul>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-klasse-zauberer.html"
              >Zauberer</a
            >
          </li>
          <ul>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-elementarist.html"
                >Elementarist</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-erzmagier.html"
                >Erzmagier</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-kriegszauberer.html"
                >Kriegszauberer</a
              >
            </li>
          </ul>
          <li>
            <a
              class="link"
              href="$base-url$/grw/charaktere-klasse-schwarzmagier.html"
              >Schwarzmagier</a
            >
          </li>
          <ul>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-blutmagier.html"
                >Blutmagier</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-daemonologe.html"
                >Dämonologe</a
              >
            </li>
            <li>
              <a
                class="link"
                href="$base-url$/grw/charaktere-heldenklassen-nekromant.html"
                >Nekromant</a
              >
            </li>
          </ul>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/talente.html">Talente</a>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/regeln-proben.html">Regeln</a>
        <ul>
          <li>
            <a class="link" href="$base-url$/grw/regeln-proben.html">Proben</a>
          </li>
          <li>
            <a class="link" href="$base-url$/grw/regeln-kampf.html">Kampf</a>
          </li>
          <li>
            <a class="link" href="$base-url$/grw/regeln-schaden-heilung.html"
              >Schaden und Heilung 42</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/regeln-kampfdetails.html"
              >Kampfdetails</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/regeln-magie.html">Magie</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/grw/zaubersprueche.html"
          >Zaubersprüche</a
        >
      </li>
      <li>
        <a class="link" href="$base-url$/grw/ausruestung.html">Ausrüstung</a>
      </li>
      <li>TODO Spielleitung</li>
      <li>
        <a class="link" href="$base-url$/grw/anhang-beutetabellen.html"
          >Anhänge</a
        >
        <ul>
          <li>
            <a class="link" href="$base-url$/grw/anhang-beutetabellen.html"
              >Beutetabellen</a
            >
          </li>
          <li>
            <a
              class="link"
              href="$base-url$/grw/anhang-miniaturen-bodenplaene.html"
              >Miniaturen & Bodenpläne</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/anhang-voelkerbaukasten.html"
              >Völkerbaukasten</a
            >
          </li>
          <li>
            <a class="link" href="$base-url$/grw/anhang-feuerwaffen.html"
              >Feuerwaffen</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a class="link" href="$base-url$/fanwerke/index.html">Fanwerke</a>
      </li>
    </ul>
  </nav>

  <footer>
    <nav id="sidebar-project-links">
      <a
        class="link"
        title="Github Project"
        aria-label="Github Project"
        href="https://github.com/RoninEighty/Dungeonslayers"
      >
        GitHub
      </a>
      <a
        class="link"
        title="Download"
        aria-label="Download"
        href="https://github.com/RoninEighty/Dungeonslayers/archive/refs/heads/main.zip"
      >
        ZIP
      </a>
    </nav>
    <div>
      DS4 SRD+ © 2025
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY-NC-SA 4.0</a
      >
    </div>
    <div>
      Regelreferenz und Fanwerke für
      <a href="https://www.dungeonslayers.net" target="_blank"
        >Dungeonslayers</a
      >
      &copy; Christian Kennig.
    </div>
  </footer>
</div>
