html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: block;
}

#sidebar {
  flex: 0 0 auto;
  padding-top: 0;
}

#sidebar .site-title {
  margin-top: 0;
}

#sidebar .back-arrow {
}

.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.container > .content {
  flex-grow: 1;
  padding-bottom: 4rem;
}

#sidebar header ~ *,
#sidebar header ~ nav,
#sidebar p.lead {
  display: none;
}

.container > header {
  background: transparent;
  margin: -1.5rem 2rem 2rem;
}

.container > header h1:last-child,
.container > header h2:last-child {
  margin-bottom: 0;
}

#sidebar nav {
  display: flex;
}

#sidebar-nav-links {
  flex-flow: column nowrap;
  overflow-y: auto;
  max-height: 85vh !important;
}

#sidebar-project-links {
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;
  max-width: 100%;
}


#sidebar nav > * {
  display: block;
  line-height: 1.75;
}

#footer {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table {
  min-width: 30rem;
}

@media print {
  #sidebar {
    display: none;
  }

  body {
    display: block;
  }

  .container {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .container > * {
    max-width: 100%;
  }

  html {
    font-size: normal;
  }
}

@media (min-width: 49rem) {
  body {
    flex-direction: row;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }

  body > * {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }

  #sidebar {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 18rem;
  }

  #sidebar > *:last-child {
    margin-bottom: 0;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
  }

  #sidebar .back-arrow {
    display: none;
  }

  #sidebar p.lead,
  #sidebar header ~ * {
    display: block;
  }

  #sidebar header ~ nav {
    display: flex;
  }

  #sidebar-project-links {
    justify-content: flex-start;
  }

  #sidebar footer {
    position:fixed;
    bottom: 0;
    max-width: 18rem;
  }

  .container {
    min-height: 100vh;
    padding-top: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 0;
    margin-left: 18rem;
  }

  .container > header {
    margin: 0;
  }

  .container > header h1:last-child,
  .container > header h2:last-child {
    margin-bottom: 0.5rem;
  }

  .container > * {
    max-width: 38rem;
    padding: 0;
  }

  #TOC {
    display: none;
  }
}
