:root {
	--bg-color: white;
	--text-color: black;
	--sidebar-bg-color: black;
	--sidebar-text-color: white;
	--footer-text-color: black;
	--footer-bg-color: whitesmoke;
	/*
   --text-color: #515151;
   */
	/* Dark theme variables */
	--dark-bg-color: #202020;
	--dark-text-color: #e0e0e0;
	--dark-sidebar-bg-color: #333333;
	--dark-sidebar-text-color: #e0e0e0;
	--dark-footer-text-color: #e0e0e0;
	--dark-footer-bg-color: #1a1a1a;

	/* Additional color variables */
	--h1-color: white;
	--h1-text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	--h2-bg-color: black;
	--h2-color: white;
	--th-border-color: black;
	--th-bg-color: #ddd;
	--td-border-color: black;
	--container-bg-color: #fff;
	--container-text-color: #515151;
	--container-header-color: #313131;
	--dark-container-bg-color: #333333;
	--dark-container-text-color: #e0e0e0;
	--dark-container-header-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: var(--dark-bg-color);
		--text-color: var(--dark-text-color);
		--sidebar-bg-color: var(--dark-sidebar-bg-color);
		--sidebar-text-color: var(--dark-sidebar-text-color);
		--footer-text-color: var(--dark-footer-text-color);
		--footer-bg-color: var(--dark-footer-bg-color);
		--container-bg-color: var(--dark-container-bg-color);
		--container-text-color: var(--dark-container-text-color);
		--container-header-color: var(--dark-container-header-color);
	}
}

* {
	box-sizing: border-box;
}

html {
	font-family: Gelasio, Times, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1.5;
}

body {
	text-size-adjust: 100%;
	color: var(--sidebar-text-color);
	/*background-color: #202020;*/
	/*background-image: linear-gradient(to bottom, #323232, #0e0e0e);*/
}

.content {
	background: var(--bg-color);
	color: var(--text-color);
}

.content > p {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.content a {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: 1px dashed var(--text-color);
}

.content a:visited {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: 1px dashed var(--text-color);
}

#sidebar {
	background-color: var(--sidebar-bg-color);
	overflow-y: hidden;
}

#sidebar li {
	list-style-type: none;
	padding-left: 0;
	margin-left: -1rem;
}

#sidebar li ul {
	display: none;
}

#sidebar li.nav-opened > ul {
	display: block;
}

#sidebar li.nav-active > a {
	font-weight: bold;
}

#sidebar a {
	color: var(--sidebar-text-color);
	text-decoration: none;
}

#sidebar a:hover,
#sidebar a:focus {
	text-decoration: none;
	border-bottom: 1px dashed var(--sidebar-text-color);
}

#sidebar .site-title {
	color: var(--sidebar-text-color);
	font-size: 1.25rem;
	font-weight: normal;
}

#sidebar .site-title a {
	text-decoration: none;
	font-size: inherit;
}

#sidebar .back-arrow {
    background-color: var(--sidebar-bg-color);
	color: var(--sidebar-text-color);
	border: none;
}

#sidebar footer {
	/**/
}

#TOC li {
	padding-left: 0;
	margin-left: -1rem;
}

#TOC a {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: 1px dashed var(--text-color);
}

#TOC a:hover,
#TOC a:focus {
	text-decoration: none;
	border-bottom: 1px dashed var(--text-color);
}

#footer {
	color: var(--footer-text-color);
	background-color: var(--footer-bg-color);
}

#footer a {
	color: var(--footer-text-color);
	text-decoration: none;
}

#footer a:hover,
#footer a:focus {
	text-decoration: none;
	border-bottom: 1px dashed var(--footer-text-color);
}

h1 {
	font-family: "Woodstamp";
	text-transform: uppercase;
	text-align: center;
	font-size: 4rem;
	font-weight: normal;
	color: var(--h1-color);
	text-shadow: var(--h1-text-shadow);
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-family: "Woodstamp";
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	font-weight: normal;
	background-color: var(--h2-bg-color);
	color: var(--h2-color);
	text-align: center;
	margin-bottom: 0;
}

h3 {
	font-family: "Woodstamp";
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	font-size: 2rem;
	margin-bottom: 0;
}

h4 {
	font-family: "Woodstamp";
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.5rem;
	margin-bottom: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

h5 {
	font-size: 1rem;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

h5 + p {
	margin-top: 3px;
}

pre {
}

/* pandoc generates colgroups with fixed sizes. This is not nice. Let's ignore pandoc's algorithm */
col {
	width: auto !important;
}

table {
	border-collapse: collapse;
	margin: auto;
}

/* Space between direct tables */
table + table {
	margin-top: 0.5rem;
}

th {
	border: 1.5px solid var(--th-border-color);
	font-family: "Woodstamp";
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.5rem;
	background-color: var(--th-bg-color);
	padding: 0.2rem;
}

td {
	border: 1.5px solid var(--td-border-color);
	padding: 0.2rem;
}

/* Desktop and Tablets */
@media (min-width: 49rem) {
	html {
		/*font-size: 1.25rem;*/
	}

	#sidebar .site-title {
		font-size: 4rem;
	}

	#sidebar .site-title a {
		font-size: inherit;
	}

	.container {
		background: var(--container-bg-color);
		color: var(--container-text-color);
	}

	.container > header {
		color: var(--container-header-color);
	}

	.content > p {
		padding-left: unset;
		padding-right: unset;
	}

	h4 {
		padding-left: unset;
		padding-right: unset;
	}

	h5 {
		padding-left: unset;
		padding-right: unset;
	}
}
