<div id="sidebar">
  <header>
    <h1 class="site-title">
      <a href="$base-url$/"> DS4 SRD+ </a>
    </h1>
    <p class="lead"></p>
  </header>
  <nav id="sidebar-nav-links">
    <ul>
      <li>
        <a class="link" href="$base-url$/grw/index.html">Grundregelwerk</a>
      </li>
      <li>
        <a
          class="link"
          href="$base-url$/grw/charaktere-attribute-eigenschaften.html"
          >Attribute &amp; Eigenschaften</a
        >
      </li>
      <li>
        <a
          class="link"
          href="$base-url$/grw/charaktere-attribute-eigenschaften.html#die-kampfwerte"
          >Die Kampfwerte</a
        >
      </li>
      <li>
        <a
          class="link"
          href="$base-url$/grw/charaktere-charaktererschaffung.html"
          >Charaktererschaffung</a
        >
      </li>
      <li>
        <a class="link" href="$base-url$/grw/charaktere-erfahrung.html"
          >Erfahrung</a
        >
      </li>
      <li>
        <a class="link" href="$base-url$/grw/charaktere-heldenklassen.html"
          >Heldenklassen</a
        >
      </li>
      <ul>
        <li>
          <a
            class="link"
            href="$base-url$/grw/charaktere-heldenklassen-berserker.html"
            >Berserker</a
          >
        </li>
        <li>
          <a
            class="link"
            href="$base-url$/grw/charaktere-heldenklassen-paladin.html"
            >Paladin</a
          >
        </li>
        <li>
          <a
            class="link"
            href="$base-url$/grw/charaktere-heldenklassen-waffenmeister.html"
            >Waffenmeister</a
          >
        </li>
      </ul>
      <li>
        <a class="link" href="$base-url$/grw/talente.html"
          >Talente</a
        >
      </li>
      <li>
        <a class="link" href="$base-url$/grw/anhang-beutetabellen.html"
          >Beutetabellen</a
        >
      </li>
      <li>
        <a class="link" href="$base-url$/grw/anhang-voelkerbaukasten.html"
          >Völkerbaukasten</a
        >
      </li>
      <li>
        <a class="link" href="$base-url$/grw/anhang-feuerwaffen.html"
          >Feuerwaffen</a
        >
      </li>
      <li>
        <a class="link" href="$base-url$/fanwerke/index.html">Fanwerke</a>
      </li>
    </ul>
  </nav>

  <footer>
    <nav id="sidebar-project-links">
      <a
        class="link"
        title="Github Project"
        aria-label="Github Project"
        href="https://github.com/RoninEighty/Dungeonslayers"
      >
        GitHub
      </a>
      <a
        class="link"
        title="Download"
        aria-label="Download"
        href="https://github.com/RoninEighty/Dungeonslayers/archive/refs/heads/main.zip"
      >
        ZIP
      </a>
    </nav>
    <div>
      DS4 SRD+ © 2025
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY-NC-SA 4.0</a
      >
    </div>
    <div>
      Regelreferenz und Fanwerke für
      <a href="https://www.dungeonslayers.net" target="_blank"
        >Dungeonslayers</a
      >
      &copy; Christian Kennig.
    </div>
  </footer>
</div>
